#about-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 52%;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 70%;
}

#overview-heading{
  position: relative;
  color: #420264;
  font-size: 30px;
  font-family: cursive;
}

#desc-header{
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: 23px;
  font-family: cursive;
  font-weight: 900;
  color: #420264;
  text-underline-offset: 6px;
  text-decoration: underline;
}

#description{
  margin: 1%;
  margin-left: 5%;
  font-size: 20px;
  font-family: cursive;
  font-weight: 900;
}

#technologies{
  margin-top: 3%;
  font-size: 23px;
  font-family: cursive;
  font-weight: 900;
  color: #420264;
  text-underline-offset: 6px;
  text-decoration: underline;
}

#skill-set{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  height: 100%;
  width: 90%;
  justify-content: left;
  align-items: center;
  left: 7%;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
  align-content: center;
  visibility: hidden;
}

.skill-set-visible {
  animation-name: skillSetPop;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
  visibility: visible;
}

@keyframes skillSetPop {
  0%{margin-top: 85%; visibility: hidden;}
  50%{margin-top: 63%; visibility: visible;}
  100%{margin-top: 70%; visibility: visible;}
}

#skill-item{
  display: flex;
  justify-content: space-between;
  width: 15%;
  height: 8%;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
  background: rgb(246, 246, 246);
  padding: 0px 10px;
  margin: 1% 2%;
  border-radius: 10%;
}

#skill-name{
  padding-right: 10px;
  font-size: 20px;
  font-family: cursive;
  margin-top: 7%;
  margin-left: 1px;
}

#skill-image{
  overflow: hidden;
  padding: 5px;
}
