#intro-header{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 10%;
  position: absolute;
  width: 80%;
  height: 70%;
  /* border: 3px solid black; */
}

#veticle-line{
  background-image: linear-gradient(black, aquamarine, white);
  height: 50%;
  width: 5px;
  position: absolute;
  margin-right: 4%;
  /* border: 3px solid pink; */
}

h1{
  font-size: 50px;
  margin-bottom: 1px;
  margin-top: 1px;
  margin-left: 5%;
  font-family: 'Brush Script MT', cursive;
  /* border: 3px solid red; */
}

h3{
  margin-left: 5%;
  font-size: 25px;
  font-family: cursive;
  /* border: 3px solid yellow; */
}

#hero-header{
  width: 60%;
  /* border: 3px solid blue; */
}

#image-div{
  margin-left: 60%;
  width: 50%;
  height: 100%;
  position: absolute;
  margin-top: -6%;
  background-image: url('../assets/girl5.png');
  background-size: 80% 80%;
  background-repeat: no-repeat;
  /* border: 3px solid orange; */
}