#nav-div{
  display: flex;
  justify-content: space-between;
  padding: 1%;
  margin-right: 5px;
  position: relative;
  background-color: white;
  /* box-shadow: 10px 5px 10px #c5c1c3; */
  border-radius: 2px;
}

#menu-div{
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-left: 65%;
}

.manuItem{
  font-size: 18px;
  font-family: cursive;
  margin-left: 10%;
  font-weight: bold;
}

.manuItem:hover{
  cursor: pointer;
  color: #a102f6;
}

#hello-text{
  font-size: 20px;
  font-weight: 900;
  font-family: cursive;
  font-weight: bold;
  margin-left: 5%;
}